* {
  line-height: 1.5;
  font-family: monospace;
}

body {
  color: white;
  background: black;
}

p {
  font-size: 1rem;
}

main {
  max-width: 732px;
  margin: 0 auto;
  padding: 21px 0;
}

input {
  margin-bottom: 1em;
  font-size: 1rem;
}
